body {
    font-family: Arial, sans-serif; /* Use a modern sans-serif font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.signup-form {
    display: flex;
    justify-content: space-between;
}

.form-left {
    width: 45%;
    padding-right: 20px;
}

.form-right {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control:hover {
    border-color: #ff0000;
}

.form-control:focus {
    border-color: #ff0000; /* Change the border color to red when focused */
    box-shadow: none; /* Remove the box shadow */
}

.btn-red {
    background-color: #ff0000;
    border-color: #ff0000;
    color: #fff;
}

    .btn-red:hover {
        background-color: #cc0000;
        border-color: #cc0000;
    }