@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="customContainer">
    <link rel="stylesheet" href="/css/landing.css">
    <div class="text">
    </div>
    <div class="logo">
        <img src="/img/Fitness-Tracker (7).png" alt="logo">
    </div>
</div>
