@page
@model Fitness_Tracker2._0WEBApp.Pages.LoginModel
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}
<form asp-action="Post" class="login-custom-form">
    <div class="login-custom-form-group">
        <label class="login-custom-form-label" asp-for="Login.Email">Email address</label>
        <input class="login-custom-form-control" asp-for="Login.Email">
        <span asp-validation-for="Login.Email" class="login-text-danger"></span>
    </div>
    <div class="login-custom-form-group">
        <label class="login-custom-form-label" asp-for="Login.Password">Password</label>
        <input class="login-custom-form-control" asp-for="Login.Password" type="password">
        <span asp-validation-for="Login.Password" class="login-text-danger"></span>
    </div>
    <div class="login-custom-form-check">
        <input class="login-custom-form-check-input" type="checkbox" id="rememberMe" asp-for="Login.RememberMe">
        <label class="login-custom-form-check-label" asp-for="Login.RememberMe">
            Remember me
        </label>
    </div>
    <button type="submit" class="login-custom-btn-primary">Submit</button>
</form>
<div class="login-custom-text-center mt-3">
    Don't have an account? <a href="/SignUp">Sign Up</a>
</div>
@if (!ModelState.IsValid)
{
    <div class="login-custom-alert login-alert-danger">
        @foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                <span>@error.ErrorMessage</span>
                <br />
            }
        }
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}