@page
@model Fitness_Tracker2._0WEBApp.Pages.SignUpModel
@using NameLibrary
@{
}
@if (Model.SignUpSuccessfull)
{
    <div class="alert alert-success" role="alert">
        Your account has been created successfully!
    </div>
}
<link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
<form class="signup-form" method="post">
    <div class="form-left">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <span asp-validation-for="SignupDTO.FirstName" class="text-danger"></span>
            <input asp-for="SignupDTO.FirstName" class="form-control">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <span asp-validation-for="SignupDTO.LastName" class="text-danger"></span>
            <input asp-for="SignupDTO.LastName" class="form-control">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <span asp-validation-for="SignupDTO.UserName" class="text-danger"></span>
            <input asp-for="SignupDTO.UserName" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <span asp-validation-for="SignupDTO.Password" class="text-danger"></span>
            <input asp-for="SignupDTO.Password" class="form-control" type="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <span asp-validation-for="SignupDTO.Email" class="text-danger"></span>
            <input asp-for="SignupDTO.Email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <span asp-validation-for="SignupDTO.Level" class="text-danger"></span>
            <select asp-for="SignupDTO.Level" class="form-select" asp-items="Html.GetEnumSelectList<Level>()">
                <option value="">Select your level</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="weight" class="form-label">Weight (kg)</label>
            <span asp-validation-for="SignupDTO.Weight" class="text-danger"></span>
            <input asp-for="SignupDTO.Weight" class="form-control" type="text">
        </div>
        <button type="submit" class="btn btn-red">Submit</button>
    </div>
    <div class="form-right">
        <img src="~/img/Fitness-Tracker (6).png" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
